<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/general.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- Fontawesome -->
	<script src="https://use.fontawesome.com/28f669008e.js"></script>
    <title>FileShare - List Download</title>
  </head>
  <body>
  	<!-- navbar -->
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container">
		    <a class="navbar-brand" href="{{url_for('index')}}">File Shares</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav" style="margin-left: auto;">
		        <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Home</a>
		        <a class="nav-link  active" href="{{url_for('listDownload')}}">Download</a>
		        <a class="nav-link" href="{{url_for('listUser')}}">Users</a>
		        <a class="nav-link" href="{{url_for('helpCentre')}}">Help Centre</a>
		        <button class="nav-link border-0 bg-light"data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
		      </div>
		    </div>
		  </div>
</nav>
  	<!-- end -->
	<!-- Content / table List user -->
	<div class="container my-3">
				<div class="panel panel-default border border-light shadow-sm">
				  <div class="panel-heading bg-light p-3">
				  	
				  		<div class="row ">
				  			<div class="col-8">
				  				<label for="titleHeading" class="h5">List Download</label>
				  			</div>
				  		{#%if session['level'] =="Admin"%#}
				  			<div class="col-4 text-end">
				  				<div class="container">
				  					<div class="row text-end">
				  					<div class="col-6" style="margin-left: -30px;">
				  						<form class="d-flex">
									        <input class="form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
									        <button class="btn btn-outline-success" type="submit">Search</button>
									    </form>
				  						
				  					</div>
				  					<div class="col-6" style="margin-left:30px;">
				  						<button class="btn btn-success form-control-sm ">
					  					<i class="fa fa-plus-square-o" aria-hidden="true"  ></i>
					  					</button>
				  					</div>
				  					</div>
								</div>
				  			</div>
				  		{#%endif%#}
				  		</div>
				  	
					</div>
				  <div class="panel-body p-3" style="height:500px;overflow-y: scroll;">
				  	<table class="table border-light shadow-sm">
					    <thead>
					      <tr class="text-center">
					        <th>No</th>
					        <th>Filename</th>
					        <th>Type File</th>
					        <th>File Size</th>
					        <th>Date Created</th>
					        <th>Action</th>
					      </tr>
					    </thead>
					    <tbody>
					    	{%for file in container%}

					      <tr class="text-center">
					      	<td>1</td>
					      	<td>Windows 10</td>
					      	<td>OS</td>
					      	<td>100mb</td>
					      	<td>Today</td>
					        <td>
					        	<a href="{{file.linkF}}" target="_blank" class="btn-sm btn-secondary rounded mr-1 p-2" ><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
					        	{%if session['level'] == "Admin"%}
					        	<a href="http://localhost:5000/edit_File/{{file.idF}}" class="btn-sm btn-info rounded p-2"><i class="text-light fa fa-pencil-square-o" aria-hidden="true"></i></a>

					        	<a href="http://localhost:5000/del_File/{{file.idF}}" class="btn-sm btn-danger rounded ml-1 p-2"><i class="text-light fa fa-trash-o" aria-hidden="true"></i></a>
					        	{%endif%}
					        </td>
					      </tr>
					      	{%endfor%}
					    </tbody>
					  </table>
				  </div>
				</div>
			</div>
	<!-- End -->
  	<!-- Footer -->
  	<div class="fixed-bottom container-fluid bg-light text-center small">
		Want to request or find trouble with the file??, <span><a href="{{url_for('helpCentre')}}">Click here!</a></span>
	</div>
  	<!-- End -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    
    <!-- Modal Logout -->
		<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog-centered modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Logout Confirmation</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        Are you sure want to leave??
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
		        <a href="/logout" class="btn btn-danger">Logout</a>
		      </div>
		    </div>
		  </div>
		</div>
    <!-- end -->

  </body>
</html>
